<style>
    .four{
        background-color: rgb(252, 228, 208);
        height: 600px;
        width: 600px;
        border-color: rgb(111, 121, 112);
        border-width: 2px;
        border-style: solid;
        border-radius: 10px;
        margin-left: 400px;
        
        
    }
    h4{
        margin-left: 150px;
        font-style: italic;
        font-size:50px;
    }
    .one{
        background-color: rgb(25, 25, 194);
        color: white;
        width: 300px;
        height:40px;
        border:none;
        border-radius: 5px;
        margin-left: 50px;
        font-size: 30px;
        font-style: inherit;
    }
    .three{
        padding: 100px;
        font-size: 30px;
        font-style: oblique;
    }
    .two input{
        height: 35px;
        width: 250px;
        margin-top:50px;
        font-size: 20px;
        
    }
    .two{
        position: relative;
        top:-100px;
    }
    .a{
        padding-left: 300px;
    }
    .five{
        margin-top: 50px;
    }
</style>
<div class="four">
    <h4>Member Login</h4>
 <form  class="three">
    <table>
        <div class="two">
        User Name:<input type="text" placeholder="user name"><br>
        Password   : <input type="password" placeholder="*******"><br>
        </div>
        <div class="five">
        <button class="one">submit</button>
        <a class="a" href="D:\project\githubemc1\javascript\task.html">CreatAccount</a>
        </div>
    </table>
    
</form>
</div>


