<style>
 .four{
    background-color: rgb(252, 228, 208);
    width: 90%;
    max-width: 600px;
    min-height: 600px;

    border: 2px solid rgb(111, 121, 112);
    border-radius: 10px;

    margin: 20px auto;
    box-sizing: border-box;
}

h4{
    text-align: center;
    font-style: italic;
    font-size: 40px;
}

.one{
    background-color: rgb(25, 25, 194);
    color: white;

    width: 100%;
    max-width: 300px;
    height: 40px;

    border: none;
    border-radius: 5px;

    font-size: 25px;
    font-style: inherit;
}

.three{
    padding: 30px;
    font-size: 25px;
    font-style: oblique;
}

.two input{
    height: 35px;
    width: 100%;
    max-width: 300px;

    margin-top: 30px;
    font-size: 20px;
    box-sizing: border-box;
}

.two{
    position: relative;
    top: -50px;
}

.a{
    padding-left: 20px;
}

.five{
    margin-top: 40px;
    text-align: center;
}
</style>

<div class="four">
    <h4>Member Login</h4>
 <form  class="three">
        <div class="two">
        User Name:<input type="text" placeholder="user name"><br>
        Password   : <input type="password" placeholder="*******"><br>
        </div>
        <div class="five">
        <button class="one">submit</button>
        <a class="a" href="D:\project\githubemc1\javascript\task.html">CreatAccount</a>
        </div>
</form>
</div>


